@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    font-size: 16px;
    font-family: "Inter", sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: fit-content;
  background: #fff;
}

i {
    line-height: 0 !important;
}

input:focus-visible {
    outline: none !important;
}

.mobile {
  width: 100vw;
  min-height: 700px;
  height: 'fit-content';
  max-height: fit-content;
  max-width: 420px;
  position: relative;
}

.icon-button:focus-visible {
  outline: none !important;
  background: transparent !important;
  box-shadow: none;
}
